<!DOCTYPE html>
<html ng-app="testApp">


<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <title>CHARLESTON BASKETLIST</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>


<body>

<header>
    <div class="header">
        <div class="grid-wrapper">
        <h1 class="grid-4 logo">Charleston Basketlist</h1>
        <ul class="grid-6 navBar">
            <% if current_user %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-button" =%>
            </li>
            <li><%= link_to "Edit Info", edit_user_registration_path =%>
            </li>
            <li><a href="#/bucketlistitem">Activities</a>
            </li>
            <li><a href="#/users/{{currentUser.id}}">My Basket</a>
            </li>
            <% else %>
            <li><%= link_to "Sign In", new_user_session_path =%>
            </li>
            <li><%= link_to "Sign Up", new_user_registration_path =%>
            </li>
            <% end %>
        </ul>
        {{current_user | json}}
    <div class= 'row'>
    <%= yield %>
    </div>
</div>
</div>
</header>

</body>
</html>
