<!DOCTYPE html>
<html ng-app='charlestonBucketList'>
<head>
  <title>BucketlistApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>

<header>
    <%= render 'navBar' %>
</header>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>


<%= javascript_include_tag 'application' %>



</body>
</html>
