<!DOCTYPE html>
<html ng-app='charlestonBucketList'>
<head>
  <title>BucketlistApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>

<header>
    <%= render 'navBar' %>
</header>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_user %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete =%>
/
<%= link_to 'Update User Info', edit_user_registration_path =%>
<% else %>
<%= link_to 'Login', new_user_session_path =%>
/
<%= link_to 'Register', new_user_registration_path =%>
<br>
<% end %>
<%= yield %>


<%= javascript_include_tag 'application' %>



</body>
</html>
